ipdb
ipykernel
matplotlib
seaborn
numpy
pandas
scikit-learn
google-cloud-storage
geopandas #Plot map for the output
pathlib
s2cell #Provide s2cellid
s2sphere #From s2cellid to corners
msgpack #Unpack the photos
torch
torchvision
opencv-python
fastapi
Basemap #Plot the map with bubbles
fsspec #GCP VM
gcsfs #GCP VM

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
